@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Bold'), url('/src/fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-ExtraBold'), url('/src/fonts/Montserrat-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Medium'), url('/src/fonts/Montserrat-Medium.ttf') format('ttf');
}


@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Regular'), url('/src/fonts/Montserrat-Regular.ttf') format('ttf');
}


@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-SemiBold'), url('/src/fonts/Montserrat-SemiBold.ttf') format('ttf');
}
